Repository Oplaner/Wspollokator, pull requests merged in 2021-11, with the labels that each got.

#19 pull request for Issues_3-4-5-6_fixes
  Wspollokator.xcodeproj/project.pbxproj
  Wspollokator.xcodeproj/project.xcworkspace/xcuserdata/szymontamborski.xcuserdatad/UserInterfaceState.xcuserstate
  Wspollokator/Helpers/GlobalHelpers.swift
  Wspollokator/Models/User.swift
  Wspollokator/Views/FilterViews/FilterView.swift
  Wspollokator/Views/FilterViews/FilterViewContainer.swift
  Wspollokator/Views/MapViewContainer.swift
  Wspollokator/Views/MapViewRepresentable.swift
  Wspollokator/Views/SearchViews/ListMapSearchView.swift
  Wspollokator/Views/UserProfile.swift
Labels: UI, Model

#24 Issues 18, 20-23 Completed
  Wspollokator.xcodeproj/project.pbxproj
  Wspollokator/Helpers/Filters.swift
  Wspollokator/Models/Conversation.swift
  Wspollokator/Models/ConversationSummary.swift
  Wspollokator/Models/Message.swift
  Wspollokator/Models/User.swift
  Wspollokator/Preview Content/Preview Assets.xcassets/avatar1.imageset/Contents.json
  Wspollokator/Preview Content/Preview Assets.xcassets/avatar1.imageset/avatar1.png
  Wspollokator/Preview Content/Preview Assets.xcassets/avatar2.imageset/Contents.json
  Wspollokator/Preview Content/Preview Assets.xcassets/avatar2.imageset/avatar2.png
  Wspollokator/Preview Content/Preview Assets.xcassets/avatar3.imageset/Contents.json
  Wspollokator/Preview Content/Preview Assets.xcassets/avatar3.imageset/avatar3.png
  Wspollokator/Preview Content/Preview Assets.xcassets/avatar4.imageset/Contents.json
  Wspollokator/Preview Content/Preview Assets.xcassets/avatar4.imageset/avatar4.png
  Wspollokator/ViewModel/ViewModel.swift
  Wspollokator/Views/Avatar.swift
  Wspollokator/Views/ChatRow.swift
  Wspollokator/Views/ContentView.swift
  Wspollokator/Views/ConversationView.swift
  Wspollokator/Views/Conversations/ChatRow.swift
  Wspollokator/Views/Conversations/ConversationView.swift
  Wspollokator/Views/Conversations/ConversationsList.swift
  Wspollokator/Views/ConversationsList.swift
  Wspollokator/Views/FilterViews/FilterRow.swift
  Wspollokator/Views/FilterViews/FilterRowOptions.swift
  Wspollokator/Views/FilterViews/FilterView.swift
  Wspollokator/Views/FilterViews/FilterViewContainer.swift
  Wspollokator/Views/Filters/FilterRow.swift
  Wspollokator/Views/Filters/FilterView.swift
  Wspollokator/Views/Filters/FilterViewContainer.swift
  Wspollokator/Views/ListRow.swift
  Wspollokator/Views/Login.swift
  Wspollokator/Views/Maps/MapView.swift
  Wspollokator/Views/Maps/MapViewContainer.swift
  Wspollokator/Views/Maps/MapViewRepresentable.swift
  Wspollokator/Views/MyProfile.swift
  Wspollokator/Views/Profiles/DescriptionAlert.swift
  Wspollokator/Views/Profiles/MyProfile.swift
  Wspollokator/Views/Profiles/PasswordAlert.swift
  Wspollokator/Views/Profiles/Settings.swift
  Wspollokator/Views/Profiles/UserProfile.swift
  Wspollokator/Views/SavedList.swift
  Wspollokator/Views/Search/ListMapSearchView.swift
  Wspollokator/Views/Search/SearchedList.swift
  Wspollokator/Views/SearchViews/ListMapSearchView.swift
  Wspollokator/Views/SearchViews/SearchedList.swift
  Wspollokator/Views/SignUp.swift
  Wspollokator/Views/Unauthorized Access/Login.swift
  Wspollokator/Views/Unauthorized Access/SignUp.swift
  Wspollokator/Views/UserProfile.swift
  Wspollokator/WspollokatorApp.swift
Labels: UI, Model, Komunikacja, Organizacja

#27 Issues 25-26 Completed
  Wspollokator/Helpers/Appearance.swift
  Wspollokator/Models/User.swift
  Wspollokator/Views/Filters/FilterView.swift
  Wspollokator/Views/Filters/FilterViewContainer.swift
  Wspollokator/Views/ListRow.swift
  Wspollokator/Views/Profiles/MyProfile.swift
  Wspollokator/Views/Profiles/UserProfile.swift
  Wspollokator/Views/Search/ListMapSearchView.swift
  Wspollokator/WspollokatorApp.swift
Labels: UI, Model

#34 Issue 30 Completed
  Wspollokator.xcodeproj/project.pbxproj
  Wspollokator/Models/User.swift
  Wspollokator/ViewModel/ViewModel.swift
  Wspollokator/Views/Profiles/DescriptionAlert.swift
  Wspollokator/Views/Profiles/DescriptionChange.swift
  Wspollokator/Views/Profiles/MyProfile.swift
  Wspollokator/Views/Profiles/PasswordAlert.swift
  Wspollokator/Views/Profiles/PasswordChange.swift
  Wspollokator/Views/Profiles/Settings.swift
  Wspollokator/Views/Profiles/UserProfile.swift
  Wspollokator/Views/Search/ListMapSearchView.swift
Labels: UI, Model, Komunikacja
